<h1><%=@picture.title%></h1>
<br><br>
<%=image_tag @picture.file.url(:large)%>

<h2>Comentarios:</h2>

<% if @picture.comments.any? %>
	<%@picture.comments.each do |c| %>
		<h3><%c.user%></h3>
	<% end %>
<% else %>

<% end %>
<%=link_to "Volver al inicio", controller: :instagram, action: :index%>